* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

.page-title {
  background-color: #562b81;
}

header {
  background-color: #562b81;
  padding: 10px;
}

h2 {
  background-color: #562b81;
  margin: 0;
  color: white;
  font-size: 1.15rem;
  font-weight: 400;
  display: inline;
  margin-right: 20px;
}

.nav-entries {
  background-color: #562b81;
  color: white;
}

a {
  text-decoration: none;
}

.section-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  margin-bottom: 23px;
}

.hidden {
  display: none;
}

.entry-form {
  display: flex;
  justify-content: center;
}

.img-preview {
  width: 100%;
  border-radius: 3px;
}

label {
  display: block;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 6px;
}

input {
  width: 100%;
  height: 28px;
  margin-bottom: 23px;
  border: 1px solid rgb(214, 213, 213);
  border-radius: 3px;
  background-color: white;
  outline-color: #562b81;
}

textarea {
  height: 100px;
  width: 100%;
  border: 1px solid rgb(214, 213, 213);
  border-radius: 3px;
  background-color: white;
  outline-color: #562b81;
}

.save-btn {
  text-align: end;
}

button {
  background-color: #562b81;
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  padding: 6px 13px;
  border-radius: 3px;
  border: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 50px;
}

li {
  margin-bottom: 10px;
  line-height: 1.4;
}

.entry-title {
  font-weight: bold;
  font-size: 1.3rem;
}

img {
  margin-bottom: 10px;
  width: 100%;
}

.placeholder-container {
  text-align: center;
  font-size: 1.3rem;
}

button:hover {
  cursor: pointer;
}
